Exercise 2: Create a markdown cell with title of notebook.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**


*   List popular languages for Data Science.
*   List commonly used libraries for Data Science

*   List Data Science Tools
*   Arithmetic expressions

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:


1.   Python

1.   R
2.   SQL

1.   Java
2.   Scala

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas

1.   Numpy
2.   Matplotlib

4.   Seaborn

5.   Tensor flow
6.   scikit-learn

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------- |
| Jupyter Notebook    |
| RStudio             |
| Visual Studio Code  |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python:

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Hammad Hassan